									/* ESTILO DO HEADER DO SITE */

*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../Imagens/fundo.png);
	min-width: 1000px;
}

#cabecalho{
	text-align: center;
	padding: 20px;
	background: rgba(49, 49, 49,0.7);
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

#cabecalho_logo{
	padding: 10px;
	font-weight: bold;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;

}

#cabecalho_logo a:link, #cabecalho_logo a:visited{
	color: white;
	text-decoration: none;
}

#cabecalho_menu{
display: inline-flex;
padding: 10px 20px;
list-style-type: none;
}

ul a{
	margin-right: 10px;
	text-decoration: none;
	padding: 5px;
	font-family:"Comic Sans MS", cursive, sans-serif;

}

#cabecalho_menu a:link, #cabecalho_menu a:visited{
	color: white;
}
#cabecalho_menu a:hover, #cabecalho_menu .selecionado a{
	color: rgb(49, 49, 49);
	background: white;

}		
								/* FIM ESTILO DO HEADER DO SITE */


								/* ESTILO DO MAIN DO SITE */
#principal{
	
	width: 53%;
	margin: 0 auto;
	background: white;
}





								/* FIM DO STILO DO MAIN DO SITE */


								/* ESTILO DO FOOTER DO SITE */

#rodape{
	background-color: #ADADAD;
	text-align: center;
	font-size: 1.2em;
	padding:30px;
}
#listarodape{
	text-align: left;
	padding: 10px 10px 10px 5px;
	font-size: 0.8em;
	font-weight: bold;

}
#listtype{
list-style-type: square;
}

#listtype a:link, #listtype a:visited{
	color: black;
	text-decoration: none;
}
#listtype a:hover{
	color: rgb(48, 48, 48);
	text-decoration: none;
}

								/* FIM ESTILO DO FOOTER DO SITE */