									/* ESTILO DO HEADER DO SITE */

*{
	margin: 0px;
	padding: 0px;

}
body{
	background-image: url();../Imagens/fundocriar.png
	min-width: 1000px;

}

#cabecalho{
	text-align: center;
	padding: 10px 20px;
	background: rgba(63, 34, 49, 0.7);
	position: fixed;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

#cabecalho_logo{
	padding: 5px;
	font-weight: bold;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;

}

#cabecalho_logo a:link, #cabecalho_logo a:visited{
	color: white;
	text-decoration: none;
}

#cabecalho_menu{
display: inline-flex;
padding: 5px 20px;
list-style-type: none;}

ul a{
	margin-right: 10px;
	text-decoration: none;
	padding: 5px;
	font-family:"Comic Sans MS", cursive, sans-serif;

}

#cabecalho_menu a:link, #cabecalho_menu a:visited{
	color: white;
}
#cabecalho_menu a:hover{
	color: rgb(49, 49, 49);
	background: white;

}	

#imgmenustye{
	width: 100%; 
	margin-bottom: -5px;
	background-attachment: fixed;
}

								/* FIM ESTILO DO HEADER DO SITE */


								/* ESTILO DO MAIN DO SITE */
#principal{
	width: 60%;
	margin: 20px auto;
	background-image: url(../Imagens/fundocriar.png);
	border: 2px solid black;
	padding-bottom: 40px;
}

#criarpartidatxt{

	padding: 20px 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;

}

#menuCriarpartida{
	border: 2px solid black;
	box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
	-webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
	-moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);

	width: 95%;
	margin: 0 auto;
	background-image: url(../Imagens/fundocriar.png);

}

div.config{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
	margin-left: 20px;
	color: white;
}
div.config2{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 22px;
	margin-left: 44px;
	color: white;
}
div.config-plat{
	display: inline-block;
	margin-right: 12px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-id{
	display: inline-block;
	margin-right: 13px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-pers{
	display: inline-block;
	margin-right: 15px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-nv{
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 10px;
}

div.config-inf{
	display: inline-block;
	padding: 10px 10px 0px 30px;
	margin-right: 220px;
	color: white;
}
div.config-areainf{
	display: inline-block;
	padding: 0px 10px 3px 30px;

}
div.config-comun{
	display: inline-block;
	float: right;
	display: inline-block;
	padding: 10px 10px 0px 10px;
	margin-right: 237px;
	color: white;
}
div.config-areacomu{
	display: inline-block;
	margin-left: 33px;
	margin-bottom: 20px;
	float: right;
	margin-right: 260px;
}

div.config-bt{
	clear: both;
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-bottom: 16px;
}

#buttonstyle{
	padding: 3px 4px; 
	font-family: Comic Sans MS, cursive, sans-serif; 
	color: white; 
	background-color: #382638; 
	outline: none;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
	-webkit-box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
	-moz-box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
}






								/* FIM DO STILO DO MAIN DO SITE */


								/* ESTILO DO FOOTER DO SITE */

#rodape{
	margin-top: 200px;
	background-image: url(../Imagens/fundocriar.png);
	text-align: center;
	font-size: 1.2em;
	padding:30px;
	color: white;

}
#listarodape{
	text-align: left;
	padding: 10px 10px 10px 5px;
	font-size: 0.8em;
	font-weight: bold;
}
#listtype{
list-style-type: square;
color: white;
}

#listtype a:link, #listtype a:visited{
	color: white;
	text-decoration: none;
}
#listtype a:hover{
	color: rgb(198, 198, 198);
	text-decoration: none;
}

								/* FIM ESTILO DO FOOTER DO SITE */