														
														/* ESTILO DO HEADER DO SITE */

*{
	margin: 0px;
	padding: 0px;
}
body{
	background:#630C0E;
	min-width: 1000px;
}

#cabecalho{
	text-align: center;
	padding: 10px 20px;
	background: rgba(63, 34, 49, 0.7);
	position: fixed;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

#cabecalho_logo{
	padding: 5px;
	font-weight: bold;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;

}

#cabecalho_logo a:link, #cabecalho_logo a:visited{
	color: white;
	text-decoration: none;
}

#cabecalho_menu{
display: inline-flex;
padding: 5px 20px;
list-style-type: none;
}

ul a{
	margin-right: 10px;
	text-decoration: none;
	padding: 5px;
	font-family:"Comic Sans MS", cursive, sans-serif;

}

#cabecalho_menu a:link, #cabecalho_menu a:visited{
	color: white;
}
#cabecalho_menu a:hover, #cabecalho_menu .selecionado a{
	color: rgb(49, 49, 49);
	background: white;

}

#principal{
	
	width: 53%;
	margin: 0 auto;
	background: transparent;
}

#txtmeio{
	text-align: center;
	background: rgba(70, 45, 49, 0.7);
}

#imgmenustye{
	width: 100%; 
	margin-bottom: -5px;
	background-attachment: fixed;
}







																	/* ESTILO DO BODY DO SITE */


#findermenu{
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#filtrarpesquisa-fundo{
	border:1px solid black;
	background-image: url(../Imagens/fundocriar.png);
	color: white;
	padding: 0px 0px 40px 0px;
}

div.config{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
	margin-left: 20px;
}
div.config2{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 45px;
	margin-left: 22px;
}
div.config-plat{
	display: inline-block;
	margin-right: 12px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-id{
	display: inline-block;
	margin-right: 13px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-pers{
	display: inline-block;
	margin-right: 15px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-nv{
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-bt{
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 10px;
	float: right;
}

hr{
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}

#criarpartida{
	clear: both;
	display: inline-block;
	float: right;
	padding: 5px;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	font-family: Impact, Charcoal, sans-serif;
}

#criarpartida a:link, #criarpartida a:visited{
	color: black;
	text-decoration: none;
	text-align: right;
}
#criarpartida a:hover{
	color: rgb(48, 48, 48);
	text-decoration: none;
	text-align: right;
}


#resultxt{
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}

#resultado-box{

	width: 90%;
	margin: 0 auto;
	background-image: url(../Imagens/fundocriar.png);
	margin-top: 10px;
	border: 2px ridge black;
	margin-bottom: 20px;
}

h3.formt{
	display: inline-block;
	padding: 5px 5px;
	margin-right: 20px; 
	color: white;
}



																	/* ESTILO DO FOOTER DO SITE */

#rodape{
	background-color: rgba(49, 49, 49,0.4);
	text-align: center;
	font-size: 1.2em;
	padding:30px;
}
#listarodape{
	text-align: left;
	padding: 10px 10px 10px 5px;
	font-size: 0.8em;
	font-weight: bold;

}
#listtype{
list-style-type: square;
}

#listtype a:link, #listtype a:visited{
	color: black;
	text-decoration: none;
}
#listtype a:hover{
	color: rgb(48, 48, 48);
	text-decoration: none;
}