														
														/* ESTILO DO HEADER DO SITE */

*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(../Imagens/fundocriar.png);
}

#cabecalho{
	text-align: center;
	padding: 10px 20px;
	background: rgba(63, 34, 49, 0.7);
	position: fixed;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

#cabecalho_logo{
	padding: 5px;
	font-weight: bold;
	font-size: 2em;
	font-family: "Arial Black", Gadget, sans-serif;

}

#cabecalho_logo a:link, #cabecalho_logo a:visited{
	color: white;
	text-decoration: none;
}

#cabecalho_menu{
display: inline-flex;
padding: 5px 20px;
list-style-type: none;
}

ul a{
	margin-right: 10px;
	text-decoration: none;
	padding: 5px;
	font-family:"Comic Sans MS", cursive, sans-serif;

}

#cabecalho_menu a:link, #cabecalho_menu a:visited{
	color: white;
}
#cabecalho_menu a:hover{
	color: rgb(49, 49, 49);
	background: white;

}

#principal{
	
	width: 53%;
	margin: 0 auto;
	background: transparent;
}


#imgmenustye{
	width: 100%; 
	margin-bottom: -5px;
	background-attachment: fixed;
}

																	/* ESTILO DO BODY DO SITE */


#findermenu{
	padding: 20px 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}

#filtrarpesquisa-fundo{
	border: 2px solid black;
	box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
	-webkit-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);
	-moz-box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.7);

	width: 95%;
	margin: 0 auto;
	background-image: url(../Imagens/fundocriar.png);
}

div.config{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
	margin-left: 20px;
	color: white;
}
div.config2{
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin-right: 45px;
	margin-left: 22px;
	color: white;
}
div.config-plat{
	display: inline-block;
	margin-right: 12px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-id{
	display: inline-block;
	margin-right: 13px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-pers{
	display: inline-block;
	margin-right: 15px;
	margin-left: 30px;
	margin-bottom: 10px;
}
div.config-nv{
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
div.config-bt{
	clear: both;
	display: inline-block;
	float: right;
	margin-right: 20px;
	margin-bottom: 16px;

}
#buttonstyle{
	padding: 3px 4px; 
	font-family: Comic Sans MS, cursive, sans-serif; 
	color: white; 
	background-color: #382638; 
	outline: none;
	box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
	-webkit-box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
	-moz-box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.9);
}
hr{
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
}
#criarpartida a:link, #criarpartida a:visited{
	color: black;
	text-decoration: none;
	text-align: right;
}
#criarpartida a:hover{
	color: rgb(48, 48, 48);
	text-decoration: none;
	text-align: right;
}


#resultxt{
	clear: both;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	padding: 20px 10px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
}

#resultado-box{

	width: 80%;
	margin: 0 auto;
	background: white;
	margin-top: 10px;
	padding-bottom: 170px;
	border: 2px ridge black;
	margin-bottom: 200px;
}



																	/* ESTILO DO FOOTER DO SITE */

#rodape{
	background-color: rgba(49, 49, 49,0.4);
	text-align: center;
	font-size: 1.2em;
	padding:30px;
	color: white; 
	background-image: url(../Imagens/fundocriar.png);
	
}
#listarodape{
	text-align: left;
	padding: 10px 10px 10px 5px;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	background-image: url(../Imagens/fundocriar.png);
}
#listtype{
list-style-type: square;
}

#listtype a:link, #listtype a:visited{
	color: white;
	font-family: "Arial Black", Gadget, sans-serif;
	text-decoration: none;
}
#listtype a:hover{
	color: rgb(48, 48, 48);
	text-decoration: none;
}